[Desktop Entry]
Type=Application
Name=Calendar
GenericName=Calendar
Comment=Terminal CLI calendar application (ikhal)
Exec=/usr/bin/kitty --class ikhal -e /usr/bin/ikhal
Terminal=false
Categories=Office;Calendar;ConsoleOnly;
Keywords=calendar;schedule;appointment;date;dates;day;month;year;event;events;plan;planner;khal;ikhal;
Icon=x-office-calendar
StartupNotify=true
StartupWMClass=ikhal
