[Desktop Entry]
Type=Application
Name=Dusky Waybar Swap
GenericName=Bar Config Switcher
Comment=Toggle between Waybar configurations
Exec=foot --app-id=waybar_tui python3 /home/dusk/user_scripts/waybar/tui_waybars.py
Terminal=false
Categories=Settings;DesktopSettings;
Keywords=dusky;waybar;panel;bar;toggle;switch;
Icon=image-x-generic
StartupNotify=true
