[Desktop Entry]
Type=Application
Name=Dusky Battery
GenericName=Battery Monitor Configurator
Comment=Configure battery thresholds, timings, and alerts
Exec=foot --app-id=dusky_tui python3 /home/dusk/user_scripts/battery/notify/tui_battery.py
Terminal=false
Categories=Settings;System;Utility;
Keywords=dusky;battery;threshold;timeout;notify;tui;config;settings;
Icon=preferences-system-power
StartupNotify=true
StartupWMClass=tui_battery
