[Desktop Entry]
Type=Application
Name=Dusky Power
GenericName=Power & Session Configurator
Comment=Systemd Logind Power Management (Lid, Power Button, Idle)
Exec=kitty --class dusky_tui --title "Power Manager" -e python3 /home/dusk/user_scripts/power/tui_power.py
Terminal=false
Categories=Settings;System;Utility;ConsoleOnly;
Keywords=dusky;power;logind;systemd;suspend;hibernate;lid;config;tui;
Icon=system-shutdown
StartupNotify=true
StartupWMClass=dusky_tui
