[Unit]
Description=Dusky Polkit Authentication Agent
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Environment=PYTHONUNBUFFERED=1 PYTHONOPTIMIZE=2 MALLOC_ARENA_MAX=1
ExecStart=/usr/bin/python -S %h/user_scripts/dusky_system/dusky_polkit/dusky_polkit
Slice=session.slice
Restart=on-failure
RestartSec=1
TimeoutStopSec=5

[Install]
WantedBy=graphical-session.target
